<!DOCTYPE html>
<html lang="en">
	<!-- 
  _   _      _    __ _ _           _____ _        _   _     _   _          
 | \ | |    | |  / _| (_)         / ____| |      | | (_)   | | (_)         
 |  \| | ___| |_| |_| |___  __   | (___ | |_ __ _| |_ _ ___| |_ _  ___ ___ 
 | . ` |/ _ \ __|  _| | \ \/ /    \___ \| __/ _` | __| / __| __| |/ __/ __|
 | |\  |  __/ |_| | | | |>  <     ____) | || (_| | |_| \__ \ |_| | (__\__ \
 |_| \_|\___|\__|_| |_|_/_/\_\   |_____/ \__\__,_|\__|_|___/\__|_|\___|___/

 Created by: https://www.levminer.com - Source code: https://github.com/Levminer/netflix-statistics
	-->
	<head>
		<link rel="shortcut icon" href="./assets/dashboard/img/img_32.ico" type="image/x-icon" />
		<meta name="viewport" content="width=1024" />
		<meta name="description" content="Netflix Statistics Dashboard" />
		<title>Netflix Statistics</title>
		<meta charset="UTF-8" />
		<!-- ejs -->
		<script>
			let name = "<%= user.name %>"
			let id = "<%= user._id %>"

			let supporter = <%= user.supporter %>
			let plan = <%= user.plan %>
			let max_statistics = <%= user.max_statistics %>

			let saved_statistics = <%- JSON.stringify(user.saved_statistics)%>

			console.log(saved_statistics)
		</script>
		<!-- js -->
		<script defer src="./assets/dashboard/js/index.js"></script>
		<!-- css -->
		<link rel="stylesheet" href="./assets/dashboard/css/index.css" />
		<link rel="stylesheet" href="./partials/partials.css" />
		<!-- analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173567015-1"></script>
		<script>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag("js", new Date())

			gtag("config", "UA-173567015-1")
		</script>
	</head>
	<body>
		<%- include("partials/navbar.ejs") %>
		<div class="one">
			<h1 id="h11">Netflix Statistics</h1>
			<p id="p1">Welcome to your Netflix Statistics dashboard!</p>
			<h2 id="h21">Make your statistics</h2>
			<p id="p2">English version: <a class="link" href="/en">EN</a></p>
			<p id="p2">Hungarian version: <a class="link" href="/hu">HU</a></p>
			<p id="p2"><a class="link" href="/dashboard/load-statistics">Statistics</a></p>
		</div>

		<div class="two">
			<h1 id="h11">Plan</h1>
			<p id="p1">You can view your plan information here.</p>
			<h2 id="h21">Plan details</h2>
			<p id="p1">Supporter: <%= user.supporter %></p>
			<p id="p1">Plan: <%= user.plan %></p>
			<p id="p1">Max statistics: <%= user.max_statistics %></p>
		</div>

		<div class="three">
			<h1 id="h11">Statistics</h1>
			<p id="p1">
				You can view your saved statistics here.
				<br />
				You need a Tier 1, 2 or 3 plan to use this feature.
				<br />
				You can buy or upgrade your plan here:
			</p>
			<p id="p2"><a class="link" href="/support" target="_blank">Support</a></p>
			<h2 id="h21">Saved statistics</h2>
			<p id="p1">Saved statistics: <%= user.saved_statistics.length %></p>
			<p id="p2"><a class="link" href="dashboard/load-statistics">Statistics</a></p>
		</div>

		<div class="four">
			<h1 id="h11">Account</h1>
			<p id="p1">You can manage your account here.</p>

			<h2 id="h21">Informations</h2>
			<p id="p1">Username: <%= user.name %></p>
			<p id="p1">Id: <%= user._id %></p>

			<h2 id="h21">Request delete your account</h2>
			<p id="p1">
				You can delete your account.
				<br />
				You will be redirected to the delete page.
				<br />
				You need your 'Username' and your 'Id'.
			</p>
			<p id="p2"><a class="link" href="/dashboard/delete-account">Delete</a></p>

			<h2 id="h21">Logout from your account</h2>
			<p id="p1">You can logout here.</p>
			<p id="p2"><a class="link" href="/account/logout">Logout</a></p>
		</div>

		<%- include("partials/footer.ejs") %>
	</body>
</html>
