<!DOCTYPE html>
<html lang="en">
	<!-- 
  _   _      _    __ _ _           _____ _        _   _     _   _          
 | \ | |    | |  / _| (_)         / ____| |      | | (_)   | | (_)         
 |  \| | ___| |_| |_| |___  __   | (___ | |_ __ _| |_ _ ___| |_ _  ___ ___ 
 | . ` |/ _ \ __|  _| | \ \/ /    \___ \| __/ _` | __| / __| __| |/ __/ __|
 | |\  |  __/ |_| | | | |>  <     ____) | || (_| | |_| \__ \ |_| | (__\__ \
 |_| \_|\___|\__|_| |_|_/_/\_\   |_____/ \__\__,_|\__|_|___/\__|_|\___|___/

 Created by: https://www.levminer.com - Source code: https://github.com/Levminer/netflix-statistics
	-->
	<head>
		<link rel="shortcut icon" href="./assets/hu/img/img_32.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Netflix Statistics Hungarian" />
		<title>Netflix Statistics</title>
		<meta charset="UTF-8" />
		<!-- ejs -->
		<script>
			let id
			let supporter
			let max_statistics
			let saved_statistcs

			<% if (typeof user != "undefined") { %>
				id = "<%= user._id %>"
			<% } %>

			<% if (typeof user != "undefined") { %>
				supporter = <%= user.supporter %>
			<% } %>

			<% if (typeof user != "undefined") { %>
				max_statistics = <%= user.max_statistics %>
			<% } %>

			<% if (typeof user != "undefined") { %>
				saved_statistics = <%= user.saved_statistics.length %>
			<% } %>
		</script>
		<!-- js -->
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.8.2/countUp.min.js"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
		<script defer src="./assets/hu/js/convert.js"></script>
		<script defer src="./assets/hu/js/index.js"></script>
		<script defer src="./assets/hu/js/api.js"></script>
		<!-- css -->
		<link rel="stylesheet" href="./assets/hu/css/index.css" />
		<!-- analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173567015-1"></script>
		<script>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag("js", new Date())

			gtag("config", "UA-173567015-1")
		</script>
	</head>
	<body>
		<%- include("partials/alert.ejs") %> 
		<%- include("partials/navbar.ejs") %>

		<div class="main">
			<div class="one">
				<h1 id="h11">Netflix Statistics</h1>
				<p id="p1">
					Kiváncsi vagy hogy eddig mennyi időt töltöttél az életedből netflixezéssel? <br />
					Ha tudni szeretnéd nincs is más dolgod mint hogy követed a használati utasítást!
				</p>
				<h2 id="h21">Használat</h2>
				<p id="p2">
					1. Először is le kell töltened a Netflix profilodról a statisztikáidat.
					<br />
					<a class="link" target="_blank" href="https://help.netflix.com/en/node/101917">(Írásos segítség)</a>
					<a class="link" target="_blank" href="https://www.netflix.com/viewingactivity">Link ha be vagy jelentkezve</a>
					<a class="link" target="_blank" href="../assets/hu/vid/vid_en.mp4">(Videós segítség)</a>
					<br />
					2. Lentebb válaszd ki a fájlt amit letöltöttél. <br />
					3. Ha mindent jól csináltál csak görgess lejjebb és már látod is a statisztikákat.
				</p>
				<h2 id="h21">Fájl Kiválasztása</h2>
				<input type="file" class="file" id="file" onchange="handlefiles(this.files)" accept=".csv" />
				<button type="button" class="input" id="input" onclick="document.getElementById('file').click()" class="button red">
					Válassz egy fájlt
				</button>
			</div>

			<div class="two">
				<h1 id="h11">Megtekintési Statisztika</h1>
				<p id="p3">Íme az eddigi Netflix statisztikád. Szerintem meglepődtél.</p>
				<h2 id="h21">Megtekintett Címek:</h2>
				<h3 id="h31" class="counter">0</h3>
				<h2>Cím</h2>
				<h2 id="h21">Eddig Eltöltött Idő:</h2>
				<div class="grid">
					<h3 id="h32" class="counter">0</h3>
					<h3 id="h33" class="counter">0</h3>
					<h3 id="h34" class="counter">0</h3>
					<h2>Percben</h2>
					<h2>Órában</h2>
					<h2>Napban</h2>
				</div>
			</div>

			<div class="three">
				<h1 id="h11">Kedvenc Statisztika</h1>
				<p id="p3">Íme az eddigi Netflix statisztikád. Csak ne nézz meg mégegy részt.</p>
				<h2 id="h21">Legtöbbet Megtekintett Cím:</h2>
				<h3 id="h35" class="counter">0</h3>
				<h2>Kedvenc cím</h2>
				<h2 id="h21">Eltöltött Idő:</h2>
				<div class="grid">
					<h3 id="h36" class="counter">0</h3>
					<h3 id="h37" class="counter">0</h3>
					<h3 id="h38" class="counter">0</h3>
					<h2>Percben</h2>
					<h2>Epizódok</h2>
					<h2>Órában</h2>
				</div>
			</div>

			<div class="four">
				<h1 id="h11">Statisztika Diagramm</h1>
				<p id="p3">Itt egy szép diagramm hogy miből mennyit néztél meg.</p>

				<div class="chart">
					<canvas id="chart" style="position: relative; height: 1000px; width: 1500px"></canvas>
				</div>

				<h2 id="h21">Törlés & Mentés</h2>
				<p id="p3">Itt tudod kitörölni vagy elmenteni a feltöltött staitisztikád.</p>
				<button class="but" id="b1" onclick="reload()">Statisztika törlése</button>
				<button class="but" id="b2" onclick="api()">Statisztika mentése</button>
			</div>
		</div>
		<%- include("partials/footer.ejs") %>
	</body>
</html>
