<!DOCTYPE html>
<html lang="en">
	<!-- 
  _   _      _    __ _ _           _____ _        _   _     _   _          
 | \ | |    | |  / _| (_)         / ____| |      | | (_)   | | (_)         
 |  \| | ___| |_| |_| |___  __   | (___ | |_ __ _| |_ _ ___| |_ _  ___ ___ 
 | . ` |/ _ \ __|  _| | \ \/ /    \___ \| __/ _` | __| / __| __| |/ __/ __|
 | |\  |  __/ |_| | | | |>  <     ____) | || (_| | |_| \__ \ |_| | (__\__ \
 |_| \_|\___|\__|_| |_|_/_/\_\   |_____/ \__\__,_|\__|_|___/\__|_|\___|___/

 Created by: https://www.levminer.com - Source code: https://github.com/Levminer/netflix-statistics
	-->
	<head>
		<link rel="shortcut icon" href="./assets/about/img/img_32.ico" type="image/x-icon" />
		<meta name="description" content="View Your Netflix Statistics Online" />
		<meta name="viewport" content="width=1024" />
		<title>Netflix Statistics</title>
		<meta charset="UTF-8" />
		<!-- js -->
		<script defer src="./assets/about/js/index.js"></script>
		<!-- css -->
		<link rel="stylesheet" href="./assets/about/css/index.css" />
		<link rel="stylesheet" href="./partials/partials.css" />
		<!-- analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173567015-1"></script>
		<script>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag("js", new Date())

			gtag("config", "UA-173567015-1")
		</script>
	</head>
	<body>
		<%- include("partials/navbar.ejs") %>

		<div class="one">
			<h1 id="h11">Netflix Statistics</h1>
			<p id="p1">Some informations about the project.</p>
			<h2 id="h21">About</h2>
			<p id="p1">Created by: <a class="link" target="_blank" href="https://www.levminer.com">Levminer</a></p>
			<p id="p1">Source code: <a class="link" target="_blank" href="https://github.com/Levminer/netflix-statistics">GitHub</a></p>
			<h2 id="h21">Informations</h2>
			<p id="p1">Server: <a class="u" href=""><%= server %></a></p>
			<p id="p1">Node: <a class="u" href=""><%= node %> </a></p>
			<h2 id="h21">Version</h2>
			<p id="p1">Version: <a class="ver" class="u" onclick="reload()" href=""><%= version %></a></p>
			<a id="but" href="https://netflixstatistics.levminer.com/about">Main version</a>
			<a id="but" href="http://3.230.204.120:6969/about">Dev version</a>
		</div>

		<%- include("partials/footer.ejs") %>
	</body>
</html>
